<form action="/madlib">
  <p>Person:</p>
  <input type="text" name="person" />
  <p>Color:</p>
  <input type="text" name="color" />
  <p>Noun:</p>
  <input type="text" name="noun" />
  <p>Adjective:</p>
  <input type="text" name="adjective" />

  <label for="email">Email</label>
  <input type="email" name="email" id="email" />

  <label for="date">Date</label>
  <input type="date" name="date" id="date" />

  <label for="password">Password</label>
  <input type="password" name="password" id="password" />

  <fieldset>
    <span> If you want to know more, send us money: </span>

    <div>
      <input type="checkbox" name="payment" id="zelle" value="zelle" />
      <label for="payment"> Yes, Zelle</label>
    </div>
    <div>
      <input type="checkbox" name="payment" id="venmo" value="venmo" />
      <label for="payment"> Yes, Venmo</label>
    </div>
  </fieldset>

  <input type="submit" />
</form>
